<footer>
    <div class="footerActionButtons">
        <div class="container ">
            <button name="button" class="button primary next" type="button"><span></span>Rekening openen</button>
            <button name="button" class="button secondary" type="button">Annuleren</button>
        </div>
    </div>
    <div class="footerLinks">
        <div class="container">
            <div class="col-xs-6">
                <h4>Application Information</h4>
                <div class="col-xs-12 col-sm-6">
                    <ul>
                        <li><a href="#" target="_blank">Link 1</a></li>
                        <li><a href="#" target="_blank">Link 2</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                </div>
            </div>
            <div class="col-xs-6">
                <h4>Handige links</h4>
                <div class="col-xs-12 col-sm-6">
                    <ul>
                        <li><a href="#" target="_blank">Link 1</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <div class="footerSocialMedia">
        <div class="container">
            <div class="footerSocialMediaWrapper">
                <p>BrandNewDay &copy; @DateTime.Now.Year</p>
                <ul>
                    <li><a href="https://www.linkedin.com/company/brand-new-day_2" target="_blank" class="center-block linkedin"></a></li>
                    <li><a href="https://twitter.com/brandnewday" target="_blank" class="center-block twitter"></a></li>
                    <li><a href="https://www.facebook.com/BrandNewDayNL" target="_blank" class="center-block facebook"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>