<script type="text/x-template" id="v-loading-spinner-template">
    <div class="loadingSpinner" v-bind:class="{'hideSpinner': hideSpinner}">
        <div class="spinner"></div>
    </div>
</script>